{% extends 'layout.html' %}

{% block title %}
    My rentals
{% endblock %}

{% block content %}
<div class="container">
           <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Place</th>
                <th scope="col">Return to</th>
                 <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.item.name }}</td>
                    <td>{{ order.item.price }}</td>
                    <td>{{ order.item.place }}</td>
                    <td>{{ order.rented_at }}</td>
                    <td><a class="btn btn-primary" href="/return_item/{{ order.id }}">Return</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}